<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Ready Made</h2>
        <p>Puzzle Sample0</p>
        <p><a class="btn btn-default" href="#workshop" role="button">View details! &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Ready Made</h2>
        <p>Puzzle Sample1</p>
        <p><a class="btn btn-default" href="#workshop" role="button">View details! &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Ready Made</h2>
        <p>Puzzle Sample0</p>
        <p><a class="btn btn-default" href="#workshop" role="button">View details! &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</body>
</html>