<!--Chat-->
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 205px">
    <div style="background:url(img/puzzle2.jpg); height: 200px; center; background-size:cover"></div>
</div>
<div class="container" style="padding-top:20px;" ng-keyup="enterEvent($event)">
    <div class="panel panel-primary">
        <div>
            <div>
                <span class="pull-left">Chat with: <input  type="text" placeholder="connect user name" ng-model="cusername" /></span>
                <button type="button" class="btn pull-right" ng-click="requestChat()">Connect</button>
            </div>
        </div>
        <hr style="clear: both">
        <div class="panel-heading" style="background-color: #161616">
            <h3 class="panel-title">Barrage</h3>
        </div>
        <div style="max-height: 250px; overflow: scroll;" id="panel">
            <div class="panel-body" id="content"></div>
            <div class="panel-body"  ng-repeat="item in items">
                <div class="pull-left" ng-show="item.sender != username" onfocus="true">{{item.time}} - {{item.sender}} Say: <br> {{item.msg}}</div>
                <div class="pull-right" ng-show="item.sender == username" onfocus="true">{{item.time}} - {{item.sender}} Say: <br> {{item.msg}}</div>
            </div>
        </div>
    </div>
    <hr/>
    <input type="text" class="form-control" placeholder="Type here..." aria-describedby="sizing-addon1" ng-model="msg" />
    <hr/>

    <hr/>
    <button type="button" class="btn btn-default btn-block" ng-click="emit()">Emit</button>
</div>
