<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>OnloadServlet</servlet-name>
        <servlet-class>OnloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OnloadServlet</servlet-name>
        <url-pattern>/OnloadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MakeOrderServlet</servlet-name>
        <servlet-class>MakeOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MakeOrderServlet</servlet-name>
        <url-pattern>/MakeOrderServlet</url-pattern>
    </servlet-mapping>
</web-app>