<!--Customer manager-->
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 205px">
    <div style="background:url(img/puzzle2.jpg); height: 200px; center; background-size:cover"></div>
</div>
<div class="container marketing">
    <div class="row featurette">
        <ul>
            <li style="min-height: 250px; display: block;">
                <hr>
                <div>
                    <a class="pull-left thumb-sm">
                        <img style="width: 200px;height: 200px;" src="img/product0.jpg" class="img-polaroid" alt="puzzle img">
                    </a>
                    <div class="pull-right">
                        <h3>Here is the order information of this customer</h3>
                        <ul>
                            <li>order id</li>
                            <li>order date</li>
                            <li>color shape size</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li style="min-height: 250px; display: block;">
                <hr>
                <div>
                    <a class="pull-left thumb-sm">
                        <img style="width: 200px;height: 200px;" src="img/product1.jpg" class="img-polaroid" alt="puzzle img">
                    </a>
                    <div class="pull-right">
                        <h3>Here is the order information of this customer</h3>
                        <ul>
                            <li>order id</li>
                            <li>order date</li>
                            <li>color shape size</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>